@model FastFood.Core.Models.AddressModel

<fieldset>
    <legend>Address</legend>
    <div class="display-label">Street</div>
    <div class="display-field">@Model.Street</div>
    
    <div class="display-label">Number</div>
    <div class="display-field">@Model.Number</div>

    <div class="display-label">Apartment number</div>
    <div class="display-field">@Model.ApartmentNumber</div>

    <div class="display-label">City</div>
    <div class="display-field">@Model.City</div>

    <div class="display-label">Locality</div>
    <div class="display-field">@Model.DependentLocalityName</div>

    <div class="display-label">State</div>
    <div class="display-field">@Model.State</div>

    <div class="display-label">Country</div>
    <div class="display-field">@Model.Country</div>

    <div class="display-label">Postal code</div>
    <div class="display-field">@Model.PostalCode</div>
</fieldset>