@model FastFood.Core.Models.RestaurantModel

@{
    ViewBag.PageTitle = Model.Name;
}

<h2>@Model.Name</h2>
<h3 class="indented">@Model.Description</h3>

@if (ViewBag.IsAdmin)
{
    <p>
        @Html.ActionLink("Manage restaurant delivery service", "Employees", new { controller = "Delivery", area = "Admin", restaurantName = Model.Name })
    </p>
}

@Html.DisplayFor(r => r.Address)

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

