@{
    ViewBag.Title = "Food Express";
    ViewBag.Subtitle = "Quick relief for really hungry people";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.PageTitle - @ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/favicon_small.ico")"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.js")" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <div class="center">
            <span>                
                @Html.Partial("_LogOnPartial")
            </span>
        </div>
    </div>
    <div class="page">
        <header>            
            <div id="title" class="left-container">            
                <a href="@Url.Action("Index", "Home")">
                    <div class="left-container">
                        <img src="@Url.Content("~/Content/Images/logo.png")" border="0" alt="logo" />      
                    </div>            
                    <div class="right-container">   
                            <h1>@ViewBag.Title</h1>
                            <h2>@ViewBag.Subtitle</h2>
                    </div>                  
                </a>              
            </div>
            <div id="menucontainer">            
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Restaurants", "Index", "Restaurant")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>     
        </header>
        <div id="main">
            @RenderBody()                    
        </div>
        <footer>
                <div id="copyr">
                    Copyright <span onclick='window.location="/index.php?cache=refresh"'>&copy;</span>
                    2011 <a href='http://FoodExpress.com'>FoodExpress.com -</a> <a href='http://FoodExpress.com'>
                        Food Delivery</a></div>
        </footer>
    </div>
</body>
</html>
